<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1> Enter When You Wake Up</h1>
       <div class="new-sleep-morning-container">
        <div class="row">
            <form action="/sleep" method="POST">
                <div class="input-field">
                    <span class="bolded">What time did you woke up?</span><input type="text" name="wokeupTime"/></br>
                    <span class="bolded">How long did you sleep?</span><input type="text" name="numberOfSleepHours"/></br>
                    <span class="bolded">How Difficult was is to fall asleep?</span><input type="text" name="difficultyFallingAsleep"/></br>
                    <span class="bolded">On a scale of 1-5, what was the quality of your sleep?</span><input type="text" name="qualityOfSleep"/></br>
                    <span class="bolded">How are you feeling?</span><input type="text" name="morningFeeling" /></br>
                    <span class="bolded">How many times did you wake up</span><input type="text" name="numOfTimesWokenup"/></br>
                    <span class="bolded">What did you dream about:</span><textarea name="dreams"></textarea><br />
                
                <input class="waves-effect amber waves-light btn" type="submit" name="" value="Add sleep"/>
            </form>  
                <button class="waves-effect amber waves-light btn"><a href="/sleep">Go Home</a></button>
                <form class="waves-effect amber waves-light btn" action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" />
                </form>
    </body>
</html>
