<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1> Enter When You Wake Up</h1>
       <div class="row">
        <form action="/sleep" method="POST">
            <label for="numOfTimesWokenup"><span class="bolded">Time You Woke Up:</span></label>
            <input type="text" name="numOfTimesWokenup" id="numOfTimesWokenup" /></br>
            <label for="numberOfSleepHours"><span class="bolded">Number of Sleep Hours:</span></label>
            <input type="text" name="numberOfSleepHours" id="numberOfSleepHours"/></br>
            <label for="difficultyFallingAsleep"><span class="bolded">Difficulty Falling Asleep:</span></label>
            <input type="text" name="difficultyFallingAsleep" id="difficultyFallingAsleep"/></br>
            <label for="numOfTimesWokenup" name="numOfTimesWokenup"><span class="bolded">Number of Times Woken Up:</span></label>
            <input type="text" name="numOfTimesWokenup" id="numOfTimesWokenup"/></br>
            <label for="morningFeeling "><span class="bolded">Morning Feeling:</span></label>
            <input type="text" name="morningFeeling" id="morningFeeling"/></br>
            <label for="sleepQuality"><span class="bolded">Sleep Quality:</span></label>
            <input type="text" name="sleepQuality" id="sleepQuality"/></br>
            <label for="dreams"><span class="bolded">Sleep Notes:</span></label>
            <textarea" name="dreams" id="dreams"/>What Dreams Did You Have?</br>



          <input class ="waves-effect amber waves-light btn" type="submit" value="Submit" />
        </form>
    </body>
</html>